.feed{
    border-right: 1px solid var(--twitter-background-widgets);
    overflow-y: scroll;
}
.feed__header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 20px;
    justify-content: space-between;
}
.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
    margin: 0px;
}