.SidebarWhoFollow{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    width: 300px;
}
.SidebarWhoFollow__trend > span, h3{
    margin: 0px;
    color: var(--twitter-trends-color);
    font-size: 12px;
}
.SidebarWhoFollow__trend > h3{
    margin: 0px;
    color: #ffffff;
}
.Widgets__two{
    border-radius: 30px;
    background-color: var(--twitter-background-widgets);
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
