.SidebarWhoFollow{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 20px;
}
.SidebarWhoFollow__info, .post__badge, .SidebarWhoFollow__info > h6{
   margin-left: 10px;
}
.SidebarWhoFollow__nameBadge{
    display: flex;
}
.SidebarWhoFollow__info > h6{
    margin: 0px;
}
.SidebarWhoFollow__nameBadge > h3{
    color: #ffffff;
}
.SidebarWhoFollow__info >h6{
    color: var(--twitter-trends-color);
}