.tweetBox{
    border-bottom: 1px solid var(--twitter-background-widgets);
    border-top: 1px solid var(--twitter-background-widgets);
    
}
/* .tweetBox > form{
    display: flex;
    flex-direction: column;
} */
.tweetBox__input{
    padding: 10px;
    display: flex;
}
.tweetBox__input > input{
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
    border: none;
}
.tweetbox_iconsWidget_buttonTweet{
    padding: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
.tweetbox_iconsWidget{
    padding-left: 50px;
    margin-top: auto;
    color: var(--twitter-color);
    cursor: pointer;
}
  
.tweetBox__tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-left: auto !important;
  }