.Widgets__one, .Widgets__two, .Widgets__three{
    display: flex;
    padding: 10px  20px;
    border-radius: 30px;
    background-color: #4E4E4E;
    margin-top: 10px;
    margin-left: 20px;
}
.Widgets__one{
    align-items: center;   
}
.Widgets__one > input {
    border: none;
    font-size: 20px;
    margin-left: 20px;
    background-color: #4E4E4E;
}
.widgets__searchIcon {
    color: #4E4E4E;
  }
.Widgets__two{
   
    background-color: #4E4E4E;
    height: 426px;
}
.Widgets__three{
    background-color: #4E4E4E;
    height: 314px;

}
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;

    
  }
  
  .widgets__widgetContainer > h2 {
    font-size: 18px;
  }
  