.Widgets{
    
}
.Widgets__one, .Widgets__two, .Widgets__three{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    margin-top: 10px;
    margin-left: 20px;
}
.Widgets__two{
   
    background-color: #4E4E4E;
    height: 450px;

}
.Widgets__three{
    background-color: #4E4E4E;
    height: 250px;

}
.Widgets__input > input {
    border: none;
    font-size: 20px;
}
.widgets__searchIcon {
    color: gray;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;

    
  }
  
  .widgets__widgetContainer > h2 {
    font-size: 18px;
  }
  