body{
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  --twitter-background-widgets: #2F3336;
  --twitter-trends-color: #6E767D;
}
.app{
  display: flex;
  height: 100vh;
  padding: 0 10px;
  margin-left: 300px;
  margin-right: 300px;
}